<div class="container p-4">
    <div class="card card-title">
        <div class="card-body ">
            <p class="h3 text-center text-white font-weight-bold">COMPLETADAS LIST</p>
        </div>
    </div>
</div>
<div class="container py-2 px-4">
    <ul class="list-group list-group-flush">
        <ng-container *ngFor="let tarea of tareas; let i=index">
            <li *ngIf="tarea.completada && tarea.descartada != true" class="list-group-item pastilla">
                <div class="tarea">
                    <div class="tarea-info">
                        <i class="uil uil-clipboard-notes"></i><p [ngClass]="{'completada': tarea.completada}">{{tarea.titulo}}</p>
                        <p [ngClass]="{'completada': tarea.completada}">{{tarea.descripcion}}</p>
                    </div>
                </div>
            </li>
        </ng-container>
    </ul>
</div>